name: JAVA CI with Maven
on:
 push:
  branches:[main]

jobs:
  builds:
   runs-on: ubuntu-latest
   Steps:
   - name: Checkout Code
   Uses: actions/checkout@v4
   - name: Build java package
   run: mvn clean install -f Javarepo1/pom.xml
   
    
